# https://docs.gitlab.com/ce/ci/yaml/README.html
# https://docs.gitlab.com/ce/ci/variables/README.html

stages:
  - build
  - test
  - deploy

before_script:
  - echo "before script"
  - pwd
  - ls -la
  - hostname
  
build-osx-1:
  stage: build
  tags:
    - osx
  script:
    - pwd
    - ls -la
    - "go build -o binaries/narcotk-hosts-${CI_COMMIT_SHA} main.go"
    - ls -la binaries/*
  artifacts:
    name: "${CI_JOB_NAME}_${CI_COMMIT_SHA}"
    untracked: true
    paths:
      - binaries/*

test-osx-1:
  stage: test
  tags:
    - osx
  script:
    - pwd
    - ls -la
    - go fmt main.go
    - "./binaries/osx-narotk-hosts-${CI_COMMIT_SHA} --help"

deploy-osx-1:
  stage: deploy
  tags:
    - osx
  script:
    - echo "deploy stage"
