# https://docs.gitlab.com/ce/ci/yaml/README.html
# https://docs.gitlab.com/ce/ci/variables/README.html

cache:
  paths:
  - binaries/*

stages:
  - build
  - test
  - deploy

before_script:
  - echo "Before running build steps"
  - hostname

build-osx-1:
  stage: build
  tags:
    - osx
  script:
    - echo "Building OSX"
    - pwd
    - ls -la
    - which go
    - export GOOS=darwin
    - export GOARCH=amd64
    - export GOPATH=~/go
    - export GOBIN=~/go/bin
    - export | grep GO
    - go env
    - go get ./
    - ls -la binaries/*
    - "go build -ldflags \"-s -w\" -o binaries/narcotk-hosts-osx-darwin main.go"
  artifacts:
    name: "${CI_JOB_NAME}_${CI_JOB_ID}"
    untracked: true
    paths:
      - binaries/narcotk-hosts-osx-darwin

test-osx-1:
  stage: test
  tags:
    - osx
  script:
    - echo "Testing OSX --help"
    - pwd
    - ls -la
    - echo "Testing Display of help"
    - binaries/narcotk-hosts-osx-darwin --help
  dependencies:
    - build-osx-1

test-osx-2:
  stage: test
  tags:
    - osx
  script:
    - echo "Testing OSX listing hosts"
    - pwd
    - ls -la
    - echo "Testing Display of help"
    - binaries/osx-narcotk-hosts-osx-darwin --configfile=narco-hosts-config.json --database=narcotk_hosts_all.db
  dependencies:
    - build-osx-1

deploy-osx-1:
  stage: deploy
  tags:
    - osx
  script:
    - echo "deploy stage"
  dependencies:
    - test-osx-1
