before_script:
  - echo "before script"
  - pwd
  - ls -la
  - hostname
  
build1:
  stage: build
  script:
    - go build main.go

test1:
  stage: test
  script:
    - ./main.go --help

deploy1:
  stage: deploy
  script:
    - echo "deploy stage"
